//Colors
$gray:#EFEFEF;
$green:#66C05D;
$foot:#828282;
$dark:#333333;
$black:#000000;
$white:#FFFFFF;
$back:#E5E5E5;
$placeholder:#C4C4C4;

//Font Props

$weightLg:700;
$weightMd:500;
$weightSm:400;

$sizeLg:21px;
$sizeMd:16px;
$sizeSm:14px;

$lineLg:25px;
$lineMd:20px;
$lineSm:16px;



